{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">

            {% include "includes/navigation-fullscreen.html" %}

        </div>
    </div>
</div>

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-8">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">
                                    Contact Us
                                </h3>
                            </div>
                            <div class="card-body">


                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-4 text-sm mx-auto">
                                    <p>If you have any questions or would like to request a demo, we would love to hear from you. Our team is dedicated to providing you with the best possible service and support, and we are always happy to help.</p>
                                    <p>To request a demo, please contact us using the email addresses below. Our team will get back to you as soon as possible.</p>
                                    <p><a href="mailto:info@digitaltranscend.io"><span style="font-size: 26px;">info@digitaltranscend.io</span></a></p>
                                    <p>Thank you for considering our services, and we look forward to hearing from you soon.</p>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                                 style="background-image:url('{{ config.ASSETS_ROOT }}/img/curved-images/curved9.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include "includes/footer-fullscreen.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
